$yellow: #eec642;
$grey: #656565;

body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: green;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: $yellow;
      text-decoration: underline;
    }
  }

  .nav {
    &__container {
      display: flex;
      align-items: center;
      padding: 0 1rem;
    }

    &__logo {
      font-size: 2rem;
    }

    &__location {
      color: $yellow;
      margin: 0 1.5rem;

      &:hover {
        color: $grey;
      }
    }

    &__menu {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      color: white;
      list-style: none;

      li {
        margin: 0 0.6rem;
      }
    }

    &__mobile_content {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      display: none;
    }

    &__hamburger {
      background: none;
      color: white;
      border: none;
      font-size: 1.2rem;
      display: none;
    }

    @media all and (max-width: 760px) {
      &__hamburger {
        display: block;
      }

      &__menu {
        display: none;
      }

      &__mobile_content {
        display: flex;
      }
    }
  }
}
